* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #050505;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  min-height: calc(100vh - 15px);
  /* width: 100%; */
}

#container {
  width: 992px;
  height: calc(100vh - 64px);
  padding: 0px 16px;
  margin: auto;
}

/* Sign Up, Log In Form */
.show-form {
  display: flex !important;
}

.signUp-container,
.logIn-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.signUp,
.logIn {
  width: 540px;
  height: 358px;
  background-color: whitesmoke;
  border-radius: 6px;
}

.close-title {
  display: flex;
  padding: 10px;
  gap: 22px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.close-btn {
  cursor: pointer;
}
.close-title h3 {
  transform: translateY(1px);
}

.signUp-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 6px;
}
.signUp-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  outline: none;
}

.signUp-form button {
  padding: 15px;
  border-radius: 99px;
  border: none;
  background-color: rgba(0, 119, 255, 0.4);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px;
}

.signUp-form a {
  color: black;
  margin: auto;
}

/* Log in */
.logIn {
  height: 420px;
}

.google-logIn {
  display: flex;
  padding: 15px;
  border-radius: 99px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
  width: calc(100% - 30px);
}

.google-logIn svg {
  position: absolute;
  transform: translateY(-3px);
}

.google-logIn p {
  margin: auto;
}

#or-para {
  text-align: center;
  opacity: 0.5;
}
