.top-nav {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  color: white;
  position: fixed;
  z-index: 100;
  background-color: #050505;
}

.nav-menu {
  width: 100%;
  max-width: 1220px;
  padding: 0px 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

#side-menu-icon,
#logo,
.secondary-menu,
.secondary-menu li a,
.user-menu,
.user-menu li a,
#upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img,
.secondary-menu img {
  height: 25px;
}

/* secondary menu */
.secondary-menu {
  gap: 18px;
}

.secondary-menu li a {
  gap: 3px;
}

#random {
  color: red;
}

/* user menu */
.user-menu {
  gap: 12px;
  position: relative;
}

.user-menu li {
  cursor: pointer;
}

.user-menu svg {
  opacity: 0.67;
}

#avatar svg,
#notifications {
  display: none;
}

#upload,
.signUp-btn,
.logIn-btn {
  padding: 8px 14px;
  border-radius: 99px;
  font-weight: bold;
  font-size: 14px;
  background-color: #07f;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
#upload svg {
  margin-right: 5px;
  font-size: 20px;
  opacity: 1;
}

.hoverCircle::before {
  content: "";
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  z-index: 25000;
  opacity: 0;
  transform: translate(-6px, -6px);
  transition-duration: 250ms;
}
.post-settings div:hover::before,
.hoverCircle:hover::before {
  opacity: 0.15;
}
.menuHover::before {
  content: "";
  transform: translate(0px, 0px);
  cursor: pointer;
}

#avatar:hover,
#upload:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Log, Sign Buttons */

.logIn-btn {
  background-color: inherit;
}
