.top-nav {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  color: white;
  position: fixed;
  z-index: 100;
  background-color: #050505;
}

.nav-menu {
  width: 100%;
  max-width: 1220px;
  padding: 0px 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

#side-menu-icon,
#logo,
.secondary-menu,
.secondary-menu li a,
.user-menu,
.user-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img,
.secondary-menu img {
  height: 25px;
}

/* secondary menu */
.secondary-menu {
  gap: 18px;
}

.secondary-menu li a {
  gap: 3px;
}

#random {
  color: red;
}

/* user menu */
.user-menu {
  gap: 12px;
  position: relative;
}

.user-menu li {
  cursor: pointer;
}

.user-menu svg {
  opacity: 0.67;
}

.trio {
  display: none;
  justify-content: center;
  align-items: center;
}
.user-menu > .hoverCircle {
  transform: translateY(3px);
}

#upload,
.signUp-btn,
.logIn-btn {
  padding: 8px 14px;
  border-radius: 99px;
  font-weight: bold;
  font-size: 14px;
  background-color: #07f;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
#upload svg {
  margin-right: 5px;
  font-size: 20px;
  opacity: 1;
}

.hoverCircle::before {
  content: "";
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  z-index: 25000;
  opacity: 0;
  transform: translate(-6px, -6px);
  transition-duration: 250ms;
}
.post-settings div:hover::before,
.hoverCircle:hover::before {
  opacity: 0.15;
}
.menuHover::before {
  content: "";
  transform: translate(0px, 0px);
  cursor: pointer;
}

#avatar:hover,
#upload:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Sign Up, Log In Form */
.show-form {
  display: flex !important;
}

.logIn-btn {
  background-color: inherit;
}

.signUp-container,
.logIn-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.signUp,
.logIn {
  width: 540px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 6px;
}

.close-title {
  display: flex;
  padding: 10px;
  gap: 22px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  margin-bottom: 10px;
}
.close-btn {
  cursor: pointer;
}
.close-title h3 {
  transform: translateY(1px);
}

.signUp-form,
.logIn-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 6px;
}
.signUp-form input,
.logIn-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  outline: none;
}

.signUp-form button,
.logIn-form button {
  padding: 15px;
  border-radius: 99px;
  border: none;
  background-color: rgba(0, 119, 255, 0.4);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px;
}

.signUp-form div,
.logIn-form div {
  color: black;
  margin: auto;
  cursor: pointer;
}

.logIn {
  height: 400px;
}

.google-logIn {
  display: flex;
  padding: 15px;
  border-radius: 99px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
  width: calc(100% - 30px);
  cursor: pointer;
  color: #4c8bf5;
}

.google-logIn svg {
  position: absolute;
  transform: translateY(-3px);
}

.google-logIn p {
  margin: auto;
}

#or-para {
  text-align: center;
  opacity: 0.5;
}

.enableBtn {
  background-color: #07f !important;
  cursor: pointer;
}
