.side-menu-background {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  z-index: 1100;
  background-color: #050505;
  padding: 0px 15px;
  width: 240px;
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  max-height: calc(100vh - 15px);
  overflow-y: hidden;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  overscroll-behavior: contain;
  z-index: 1001;
}
.side-menu:hover {
  overflow-y: scroll;
}
.side-menu::-webkit-scrollbar {
  display: none;
}

.side-menu ul h4 {
  color: rgba(245, 245, 245, 0.5);
  padding-bottom: 10px;
}

.side-menu-header {
  height: 49px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  color: whitesmoke;
  display: flex;
  gap: 18px;
  width: 240px;
  padding-left: 15px;
  transform: translateX(-15px);
  position: fixed;
  background: #050505;
  z-index: 10002;
}

#logo {
  font-size: x-large;
  font-weight: bolder;
  transition-duration: 200ms;
}
#logo:hover {
  opacity: 0.6;
}

.side-menu img {
  height: 24px;
  width: 24px;
}

.side-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.side-menu ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-menu ul li::before {
  content: "";
  position: absolute;
  z-index: 10000;
  height: 30px;
  transform: translateX(-15px);
  width: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  opacity: 0;
  cursor: pointer;
  transition-duration: 200ms;
}
.side-menu ul li:hover::before {
  content: "";
  opacity: 1;
}

.close-fav {
  z-index: 10001;
}
.fav-btn,
.remove-fav {
  color: rgba(128, 128, 128, 0.3);
  z-index: 10001;
  cursor: pointer;
}
.fav-btn:hover,
.remove-fav:hover {
  color: rgba(128, 128, 128, 0.6);
}

.show-menu {
  display: block !important;
}
